nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    justify-content: space-between;
    padding: 15px;
}

div a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-right: 10px;
    text-transform: uppercase;
}

header {
    background-image: url(images/header.jpg);
    background-size: cover;
    /*height: 600px;*/
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-position: url(images/facebook.png);
    padding-bottom: 80px;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


}

.a {
    padding-top: 25px;
    margin-left: 15px;
    color: white;
    text-transform: uppercase;
}

body {
    margin: 0px;
    padding: 0px;
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

}

.a,
.b {
    padding-top: 20px;
    margin-left: 50px;
    color: white;
    text-transform: uppercase;
}

.b {
    margin-left: 30px;
    padding: 20px;
    font-size: 12px;
    text-transform: inherit;
    ;
}

#d {
    margin-left: 20px;
    padding-top: 15px;
}

#d {
    margin-left: 40px;
    padding: 5px;
}

hr {
    margin-left: 50px;
    width: 300px;
}

/*section area*/
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    
}
.divide {
    border: 1px solid gray;
    width:0%;
}

.text {
    text-transform: initial;
    color: #666666;
}
.edit{color: #140748}
section{
    margin-left: 100px;
    margin-right: 100px;
}
.prime{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
}
.bribe{
    background-color: #140748;
    width: 100%;
}
div h2 {
    color: white;
    text-transform: uppercase;
    padding-top: 100px;
    padding-left: 200px;
    font-weight: bold;
}